In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Salary_Data_reg.csv')

In [3]:
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [19]:
X = df.iloc[:,:1].values

In [5]:
type(X)

numpy.ndarray

In [6]:
Y = df.iloc[:,-1].values

In [7]:
type(Y)

numpy.ndarray

In [8]:
from sklearn.mo import train_test_split

In [20]:
X_train,X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3)

In [10]:
X_train

array([ 4.9,  4.5, 10.3,  9.5,  3.2,  7.9,  8.2,  5.9,  5.3,  2.9,  1.3,
        3. ,  3.7,  4. ,  9.6,  9. ,  4. ,  6.8,  8.7,  2.2,  3.2])

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
LR = LinearRegression()

In [21]:
LR.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [22]:
Y_predict = LR.predict(X_test)

In [23]:
LR.score(X_test,Y_test)

0.9506146335469822